.password {
    background: url('src/assets/images/bg-password.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
    flex: 1 1;
}
.logo img {
    max-width: 300px;
}

.formulario {
    width: 100%;
}

.bg-cinza {
    background-color: #f9f9f9!important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-right: 8px solid #007bff;
}
.bg-branco {
    background-color: #fff;
    border: solid 1px #dfdfdf;
    padding: 20px
}

.logo-branco img {
    max-width: 100%;
}
.wizard .col-md-2 {
    
    text-align: center;
}
.wizard .item {
    margin-left: 10px!important;
    cursor: pointer;
    padding: 10px;
}
.wizard  .active {
    background-color: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: blue;
    transition-delay: 50ms;
    
}
.interno {
    width: 536px;
}

.h100vh {
    height: 100vh;
}
.content {
    height: 100vh;
    position: relative;
}
.content h1 {
    font-weight: 700;
}
.text-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 800px;
}
.box-email {
    padding: 30px;
    max-width: 200px;
    background: #f0f0f0;
    margin: 30px auto;
    text-align: center;
}
.steps {
    margin-top: 20px;
}
.steps ul {
    padding-inline-start: 0px;
}
.steps ul li {
    display: inline;
    padding: 10px 5px
}
.steps ul li a {
    text-decoration: none;
}
.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}