<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  template='<i class="fas fa-circle-notch fa-spin fa-3x"></i>'
  style="color: rgba(255, 255, 255, 0.5)"
  ><p style="color: white">Aguarde...</p>
</ngx-spinner>
<div class="container-fluid">
  <div class="row content">
    <div class="col-md-9">
      <div class="logo p-3">
        <img src="assets/images/logo-2.png" alt="" srcset="" />
      </div>
      <div class="steps p-3">
        <ul>
          <li>Início &raquo;</li>
          <li>
            <a
              [routerLink]="['/account/registration/ower']"
              onclick="return false"
              href="javascript: void(0)"
              [attr.class]="enableData"
              >Responsável</a
            >
            &raquo;
          </li>
          <li>
            <a
              [routerLink]="['/account/registration/finish']"
              onclick="return false"
              href="javascript: void(0)"
              [attr.class]="enableData"
              >Finalização</a
            >
          </li>
        </ul>
      </div>
      <div class="formulario p-3">
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div
                  [ngClass]="status ? '' : 'alert alert-danger'"
                  [innerText]="showError"
                ></div>
              </div>
              <div class="form-group">
                <label for="form.company">Razão Social</label>
                <input
                  type="text"
                  class="form-control"
                  id="form.company"
                  autocomplete="off"
                  name="razaosocial"
                  disabled
                  [(ngModel)]="business.company"
                />
              </div>
              <div class="form-group">
                <label for="form.user.name">Responsável</label>
                <input
                  type="text"
                  class="form-control"
                  id="form.user.name"
                  autocomplete="off"
                  name="name"
                  [(ngModel)]="user.name"
                />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form.cpfcnpj">CNPJ</label>
                    <input
                      type="text"
                      class="form-control"
                      id="form.cpfcnpj"
                      autocomplete="off"
                      name="cpfcnpj"
                      disabled
                      [(ngModel)]="business.cpfcnpj"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form.email">E-mail</label>
                    <input
                      type="text"
                      class="form-control"
                      id="form.email"
                      autocomplete="off"
                      name="email"
                      [(ngModel)]="business.email"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form.phone">Telefone</label>
                    <input
                      type="text"
                      class="form-control telefone"
                      id="form.phone"
                      autocomplete="off"
                      maxlength="15"
                      mask="(00)00000-0000 || (00)0000-0000"
                      name="phone"
                      [(ngModel)]="business.phone"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form.cellphone">Celular</label>
                    <input
                      type="text"
                      class="form-control"
                      id="form.cellphone"
                      autocomplete="off"
                      name="cellphone"
                      mask="(00)00000-0000 || (00)0000-0000"
                      [(ngModel)]="business.cellphone"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form.password">Senha</label>
                    <input
                      type="password"
                      class="form-control"
                      id="form.password"
                      autocomplete="off"
                      name="password"
                      maxlength="12"
                      [(ngModel)]="user.password"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form.passwordConfirm">Confirme a senha</label>
                    <input
                      type="password"
                      class="form-control"
                      id="form.passwordConfirm"
                      autocomplete="off"
                      name="passwordConfirm"
                      maxlength="12"
                      [(ngModel)]="user.passwordConfirm"
                    />
                  </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg btn-block mt-3"
                  >
                    Continuar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3 password"></div>
  </div>
</div>
