<div class="container-fluid">
    <div class="row content">
      <div class="col-md-9">
        <div class="logo p-3">
          <img src="assets/images/logo-2.png" alt="" srcset="" />
        </div>
        <div class="steps p-3">
          <ul>
            <li>Início &raquo;</li>
            <li>
              <a
                [routerLink]="['/account/registration/ower']"
                onclick="return false"
                href="javascript: void(0)"
                [attr.class]="enableData"
                >Responsável</a
              >
              &raquo;
            </li>
            <li>
              <a
                [routerLink]="['/account/registration/finish']"
                onclick="return false"
                href="javascript: void(0)"
                [attr.class]="enableData"
                >Finalização</a
              >
            </li>
          </ul>
        </div>
        <div class="formulario p-3">
          
        </div>
      </div>
      <div class="col-md-3 password"></div>
    </div>
  </div>
  