

/* ----- v CAN BE DELETED v ----- */
/* body {
	background-color: #78909c;
} */



@media (max-width: 991.98px) {

  .pl-5,
  .px-5 {
    padding-left: 0rem !important;
  }

  .pr-5,
  .px-5 {
    padding-right: 0rem !important;
  }

  /* .tabela-responsive:first-child {
    display: none;
  } */
}

