body {
  height: 100vh;
  display: flex;
}
.main {
  min-height: 100vh;
  overflow-y: auto;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
.login-components {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 480px;
  }
.password {
  background: url("src/assets/images/bg-password.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  flex: 1 1;
}
.content {
  height: 100vh;
  position: relative;
}
.content h1 {
  font-weight: 700;
}
.text-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 800px;
}
.box-email {
  padding: 30px;
  max-width: 200px;
  background: #f0f0f0;
  margin: 30px auto;
  text-align: center;
}
.steps {
  margin-top: 20px;
}
.steps ul {
  padding-inline-start: 0px;
}
.steps ul li {
  display: inline;
  padding: 10px 5px;
}
.steps ul li a {
  text-decoration: none;
}
.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
