<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link">
    <img
      src="assets/images/favicon.png"
      alt="Central do Cliente Vip"
      class="brand-image img-circle"
      style="opacity: 0.8"
    />
    <span class="brand-text">CRMVIP</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <div
          class="img-circle elevation-2 bg-light"
          style="
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
          "
          alt="User Image"
        >
        {{initials}}
        </div>
      </div>
      <div class="info">
        <a [routerLink]="['/']" class="d-block">{{namePerson}}</a>
      </div>
    </div>
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <!-- <li class="nav-header">Pessoas</li>
        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link">
            <i class="nav-icon far fa-user"></i>
            <p>Colaboradores</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Times</p>
          </a>
        </li>
        <li class="nav-header">Atendimentos</li>
        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link">
            <i class="nav-icon fas fa-comments"></i>
            <p>Tickets</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://ajuda.vipautomacao.com.br" target="_blank" class="nav-link">
            <i class="nav-icon fas fa-exclamation-circle"></i>
            <p>Base de conhecimento</p>
          </a>
        </li>
        <li class="nav-header">Financeiro</li>
        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>Faturas</p>
          </a>
        </li> -->
        <li class="nav-item">
          <a [routerLink]="'/contrato'" class="nav-link">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>Contratos</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/financeiro'" class="nav-link">
            <i class="nav-icon fas fa-dollar-sign"></i>
            <p>Financeiro</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a [routerLink]="'/produto'" class="nav-link">
            <i class="nav-icon fas fa-bars"></i>
            <p>Serviços</p>
          </a>
        </li> -->
        <li class="nav-header">Minha conta</li>
        <li class="nav-item">
          <a [routerLink]="'/empresa'" class="nav-link">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>Meus dados</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/logout'" class="nav-link">
            <i class="fas fa-sign-out-alt nav-icon"></i>
            <p>Sair</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
