<div class="content-wrapper pl-5 pr-5 pt-0">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-md-6">
            <h1>Versões liberadas</h1>
            <p>Histórico de versões do sistema</p>
          </div>
          <div class="col-md-6 text-right pt-4"></div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Relação de versões</h3>
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                  title="Collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="text-center">
                  <h4>Módulo em desenvolvimento</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  