<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  template='<i class="fas fa-circle-notch fa-spin fa-3x"></i>'
  style="color: rgba(255, 255, 255, 0.5)"
  ><p style="color: white">Aguarde...</p>
</ngx-spinner>
<div class="container-fluid">
  <div class="row content">
    <div class="col-md-9">
      <div class="logo p-3">
        <img src="assets/images/logo-2.png" alt="" srcset="" />
      </div>
      <div class="text-middle">
        <div class="box-email">
          <i class="fa fa-envelope fa-3x"></i>
        </div>
        <h1>Excelente! Agora vamos verificar o seu endereço de e-mail.</h1>
        <p>Clique no link no e-mail que enviamos para <b>{{business.email}}</b></p>
        <p>Não recebeu? <a href="javascript: void(0)" (click)="enviar()" [innerHTML]="lbEnviar"></a></p>
      </div>
    </div>
    <div class="col-md-3 password"></div>
  </div>
</div>
