@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap");

.brand-link {
  display: block;
  font-size: 32px;
  line-height: 29px;
  padding: 0.8125rem 0.5rem;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
  font-weight: 700 !important;
}

.btn-primary {
  background-color: rgb(98, 77, 227);
}

.modal.left .modal-dialog {
  right: 0px;
  top: 0px;
  border: 0px;
  margin: 0px;
  position: absolute;
  height: 100%;
  box-shadow: rgb(0 0 0 / 10%) -6px 4px 32px;
  max-width: 740px;
  width: 100%;
  overflow-y: auto;
  padding: var(--spacingY) var(--spacingX);
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.modal.left.fade.show .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.loading .icon {
  margin: auto;
  color: #fff;
  text-align: center;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.btn {
  margin: 3px 5px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #8AC34A;
  background-color: #8AC34A;
  box-shadow: none;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
  background-color: #fff;
  transform: translateX(0.75rem);
}

@media (min-width: 1250.98px) {
  .tabela-responsive {
    display: table;
  }
}