<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  template='<i class="fas fa-circle-notch fa-spin fa-3x"></i>'
  style="color: rgba(255, 255, 255, 0.5)"
  ><p style="color: white">Aguarde...</p>
</ngx-spinner>
<div class="content-wrapper p-3">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Olá {{ razaosocial | titlecase }}</h1>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <p class="mb-1">Serviços Contratados</p>
          <h1 class="mt-0">{{ servicos }}</h1>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer"
          >Ver contratos <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <p class="mb-1">Atendimentos Solicitados</p>
          <h1>{{ atendimentos }}</h1>
        </div>
        <div class="icon">
          <i class="ion ion-chatboxes"></i>
        </div>
        <a href="#" class="small-box-footer"
          >Ver meus atendimentos <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-primary">
        <div class="inner">
          <p class="mb-1">Faturas</p>
          <h1>{{ faturas }}</h1>
        </div>
        <div class="icon">
          <i class="ion ion-card"></i>
        </div>
        <a href="#" class="small-box-footer"
          >Ver faturas <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-warning">
        <div class="inner">
          <p class="mb-1">Atualizações Pendentes</p>
          <h1>0</h1>
        </div>
        <div class="icon">
          <i class="ion ion-refresh"></i>
        </div>
        <a href="#" class="small-box-footer"
          >Ver versões liberadas <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="card card-primary card-outline">
        <div class="card-header border-transparent">
          <h3 class="card-title">Últimas Faturas</h3>
          <div class="card-tools">
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-primary float-right"
              >Ver todas <i class="fa fa-search"></i
            ></a>
          </div>
        </div>

        <div class="card-body p-0 border-">
          <div class="table-responsive table-striped table-hover">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Fatura</th>
                  <th>Emissão</th>
                  <th>Vencimento</th>
                  <th>Total</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let parcela of parcelas">
                  <td>{{ parcela.id }}</td>
                  <td>{{ parcela.emissao }}</td>
                  <td>{{ parcela.vencimento }}</td>
                  <td>{{ parcela.total }}</td>
                  <td>
                    <span class="badge bg-success">{{ parcela.status }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer clearfix"></div>
      </div>
    </div>

    <div class="col-lg-6 col-12">
      <div class="card card-success card-outline">
        <div class="card-header border-transparent">
          <h3 class="card-title">Últimos Atendimentos</h3>
          <div class="card-tools">
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-primary float-right"
              >Ver todos <i class="fa fa-search"></i
            ></a>
          </div>
        </div>

        <div class="card-body p-0 border-">
          <div class="table-responsive table-striped table-hover">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Protocolo</th>
                  <th>Departamento</th>
                  <th>Status</th>
                  <th>Última Atualização</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets">
                  <td>{{ ticket.id }}</td>
                  <td>{{ ticket.departamento }}</td>
                  <td>
                    <span
                      [ngClass]="{
                        badge: true,
                        'bg-info': ticket.status == 'Aberto',
                        'bg-gray': ticket.status == 'Fechado'
                      }"
                      >{{ ticket.status }}</span
                    >
                  </td>
                  <td>{{ ticket.atualizacao }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer clearfix"></div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="card card-success card-outline">
        <div class="card-header border-transparent">
          <h3 class="card-title">Últimos Atendimentos</h3>
          <div class="card-tools">
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-primary float-right"
              >Ver todos <i class="fa fa-search"></i
            ></a>
          </div>
        </div>

        <div class="card-body p-0 border-">
          <div class="table-responsive table-striped table-hover">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Protocolo</th>
                  <th>Departamento</th>
                  <th>Status</th>
                  <th>Última Atualização</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets">
                  <td>{{ ticket.id }}</td>
                  <td>{{ ticket.departamento }}</td>
                  <td>
                    <span
                      [ngClass]="{
                        badge: true,
                        'bg-info': ticket.status == 'Aberto',
                        'bg-gray': ticket.status == 'Fechado'
                      }"
                      >{{ ticket.status }}</span
                    >
                  </td>
                  <td>{{ ticket.atualizacao }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer clearfix"></div>
      </div>
    </div>

    <div class="col-lg-6 col-12">
      <div class="card card-success card-outline">
        <div class="card-header border-transparent">
          <h3 class="card-title">Últimos Atendimentos</h3>
          <div class="card-tools">
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-primary float-right"
              >Ver todos <i class="fa fa-search"></i
            ></a>
          </div>
        </div>

        <div class="card-body p-0 border-">
          <div class="table-responsive table-striped table-hover">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Protocolo</th>
                  <th>Departamento</th>
                  <th>Status</th>
                  <th>Última Atualização</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets">
                  <td>{{ ticket.id }}</td>
                  <td>{{ ticket.departamento }}</td>
                  <td>
                    <span
                      [ngClass]="{
                        badge: true,
                        'bg-info': ticket.status == 'Aberto',
                        'bg-gray': ticket.status == 'Fechado'
                      }"
                      >{{ ticket.status }}</span
                    >
                  </td>
                  <td>{{ ticket.atualizacao }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer clearfix"></div>
      </div>
    </div>
  </div>
  <!-- /.content -->
</div>
