<div class="content-wrapper p-3">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Olá {{ razaosocial | titlecase }}</h1>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <p class="mb-1">Serviços Contratados</p>
          <h1 class="mt-0" [innerHTML]="servicos"></h1>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="" [routerLink]="'contrato'" class="small-box-footer"
          >Ver contratos <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <p class="mb-1">Atendimentos Solicitados</p>
          <h1>{{ atendimentos }}</h1>
        </div>
        <div class="icon">
          <i class="ion ion-chatboxes"></i>
        </div>
        <a href="#" class="small-box-footer"
          >Ver meus atendimentos <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-primary">
        <div class="inner">
          <p class="mb-1">Faturas</p>
          <h1>{{ faturas }}</h1>
        </div>
        <div class="icon">
          <i class="ion ion-card"></i>
        </div>
        <a href="#" class="small-box-footer"
          >Ver faturas <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-warning">
        <div class="inner">
          <p class="mb-1">Atualizações Pendentes</p>
          <h1>0</h1>
        </div>
        <div class="icon">
          <i class="ion ion-refresh"></i>
        </div>
        <a href="#" class="small-box-footer"
          >Ver versões liberadas <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="card card-primary card-outline">
        <div class="card-header border-transparent">
          <h3 class="card-title">Produtos / Serviços</h3>
          <div class="card-tools">
            <a
              [routerLink]="'/contrato'"
              class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-plus"></i> Ver todos
            </a>
          </div>
        </div>

        <div class="card-body p-0 border-">
          <div class="table-responsive table-striped table-hover">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Serviço</th>
                  <th>Valor</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    class="text-center"
                    colspan="4"
                    *ngIf="servicos_contratados === undefined"
                  >
                    Carregando ... <i class="fas fa-circle-notch fa-spin"></i>
                  </td>
                </tr>
                <tr *ngFor="let itens of servicos_contratados">
                  <td *ngIf="itens.cancelado === 'N'">{{ itens.CODIGO }}</td>
                  <td *ngIf="itens.cancelado === 'N'">
                    {{ itens.produto.name | titlecase }}
                  </td>
                  <td *ngIf="itens.cancelado === 'N'">
                    {{ itens.valor | currency: "BRL" }}
                  </td>
                  <td *ngIf="itens.cancelado === 'N'">
                    <span
                      class="badge bg-danger"
                      *ngIf="itens.cancelado === 'S'"
                      >Inativo</span
                    >
                    <span
                      class="badge bg-success"
                      *ngIf="itens.cancelado === 'N'"
                      >Ativo</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer text-right">
          <h3 class="text-success" *ngIf="servicos_contratados !== undefined">
            Valor total: {{ valorTotal | currency: "BRL" }}
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12">
      <div class="card card-success card-outline">
        <div class="card-header border-transparent">
          <h3 class="card-title">Faturas</h3>
          <div class="card-tools">
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-primary float-right"
              >Ver todos <i class="fa fa-search"></i
            ></a>
          </div>
        </div>

        <div class="card-body p-0 border-">
          <div class="table-responsive table-striped table-hover">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Fatura Nº</th>
                  <th>Data da Fatura</th>
                  <th>Vencimento</th>
                  <th>Valor</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="parcelas.length == 0">
                  <td colspan="6" class="text-center bg-light">Nenhuma fatura encontrada</td>
                </tr>
                <tr *ngFor="let fat of parcelas">
                  <td>{{ fat.id }}</td>
                  <td>{{ fat.emissao }}</td>
                  <td>{{ fat.vencimento }}</td>
                  <td>{{ fat.total | currency: "BRL" }}</td>
                  <td>
                    <span
                      [ngClass]="{
                        badge: true,
                        'bg-suceess': fat.pago == 'Paga',
                        'bg-danger': fat.pago == 'Aberta'
                      }"
                      >{{ fat.pago }}</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer clearfix"></div>
      </div>
    </div>
    <!-- <div class="col-lg-6 col-12">
      <div class="card card-success card-outline">
        <div class="card-header border-transparent">
          <h3 class="card-title">Últimos Atendimentos</h3>
          <div class="card-tools">
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-primary float-right"
              >Ver todos <i class="fa fa-search"></i
            ></a>
          </div>
        </div>

        <div class="card-body p-0 border-">
          <div class="table-responsive table-striped table-hover">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Protocolo</th>
                  <th>Departamento</th>
                  <th>Status</th>
                  <th>Última Atualização</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets">
                  <td>{{ ticket.id }}</td>
                  <td>{{ ticket.departamento }}</td>
                  <td>
                    <span
                      [ngClass]="{
                        badge: true,
                        'bg-info': ticket.status == 'Aberto',
                        'bg-gray': ticket.status == 'Fechado'
                      }"
                      >{{ ticket.status }}</span
                    >
                  </td>
                  <td>{{ ticket.atualizacao }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer clearfix"></div>
      </div>
    </div> -->

    <!-- <div class="col-lg-6 col-12">
      <div class="card card-success card-outline">
        <div class="card-header border-transparent">
          <h3 class="card-title">Últimos Atendimentos</h3>
          <div class="card-tools">
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-primary float-right"
              >Ver todos <i class="fa fa-search"></i
            ></a>
          </div>
        </div>

        <div class="card-body p-0 border-">
          <div class="table-responsive table-striped table-hover">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Protocolo</th>
                  <th>Departamento</th>
                  <th>Status</th>
                  <th>Última Atualização</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets">
                  <td>{{ ticket.id }}</td>
                  <td>{{ ticket.departamento }}</td>
                  <td>
                    <span
                      [ngClass]="{
                        badge: true,
                        'bg-info': ticket.status == 'Aberto',
                        'bg-gray': ticket.status == 'Fechado'
                      }"
                      >{{ ticket.status }}</span
                    >
                  </td>
                  <td>{{ ticket.atualizacao }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer clearfix"></div>
      </div>
    </div> -->
  </div>
  <!-- /.content -->
</div>
